# shellcheck shell=bash

# Prevent executing direnv while rebuilding ?
[ -z "$IN_NIX_SHELL" ] || exit 0

dotenv

# https://gist.github.com/arianvp/8f80c23a3410d27746fb97a6563d9677
# Assign GITHUB_TOKEN if it doesn't exist
if [ -z "$GITHUB_TOKEN" ]; then
  nix run nixpkgs#gh auth status || nix run nixpkgs#gh auth login
  GITHUB_TOKEN="$(nix run nixpkgs#gh auth token)"
  export GITHUB_TOKEN
fi

export NIX_CONFIG="access-tokens = github.com=$GITHUB_TOKEN"

watch_file ./flake/checks.nix
watch_file ./flake/dev-shells.nix
watch_file ./.env 


use flake
